html,
body {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    color: #ebebeb;
}

.container {
    background-color: indigo;
    display: flex;
    justify-content: space-around;
    height: 200px;
    width: 100%;
}

.item {
    border: 1px solid #ebebeb;
    background-color: #34005b;
    display: flex;
    height: 100px;
}

.one {
    flex: 1.5 0 auto;
}

.two,
.three {
    flex: 1 0 auto;
}
