html,
body {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    color: #ebebeb;
}

html {
    height: 100%;
}

body {
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 0 auto;
    color: #333;
    padding: 1.5rem;
}

footer {
    background-color: violet;
    color: #fff;
    padding: 1.5rem;
}
